

/* line 22, ../sass/demo.scss */
.container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* line 32, ../sass/demo.scss */
.container .gallery a img {
  
  border: 0px solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
}
/* line 46, ../sass/demo.scss */
.container .gallery a:hover img {
/*  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);*/
  z-index: 5;
}
/* line 57, ../sass/demo.scss */
.container .gallery a.big img {
  width: 40%;
}

/* line 65, ../sass/demo.scss */
.align-center {
  text-align: center;
}

.flex-images { overflow: hidden; }
.flex-images .item { float: left; margin: 4px; border: 2px solid #000; box-sizing: content-box; overflow: hidden; position: relative;  }
.flex-images .item img { display: block; width: auto; height: 100%; }
